body{
    margin: 0;
    padding: 0;
    background-image:url("../image/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  #header{
    width: 100%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #header ul li{
    display: inline;
    list-style-type: none;
    font-size: 1.5rem;
  }
  
  #content{
    width: 100%;
  }
  .create-search{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 2.5rem; */
    color: white;
    border-radius: 4px;
    padding : 1% 0;
  }

  #create_search_form input {
    font-size: 14px;
  }

  .content{
    width: 60%;
    margin: 0 auto;
    background-color:#F8F8F6;
    padding:1%;
  
  }

  
  
  .title{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #845ec2;
    color: white;
    border-radius: 4px;
  
  }
  
  .item{
    display: flex;
    align-items: center;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid #845ec2;
    border-radius: 4px;
    
  
  }
  .item:hover{
  
    background-color: gray;
    color:wheat;
  }
  
  .item p{
    display: inline;
    font-size: 20px;
    display: flex;
    margin-left: 8px;
  
  }
  
  .form{
    width: 80%;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .form-item{
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-wrap: wrap;
  
  }
  
  .form-item input {
    flex:4;
    text-align: center;
    font-size: 1.5rem;
    border-color: #845ec2;
  }
  
  .form-item button{
    flex:1
  
  }
  button {
    border-color: transparent;
    border-width: 0;
  }
  
  .checkbox-form p {
    display: inline;
  }
  
  #footer{
    width: 100%;
    margin: 10px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-size: 1rem;
  }
  
  @media only screen and (max-width: 600px) {
    .content{
      width: 100%;
      margin: 0 auto;
      background-color:#F8F8F6;
      padding:1%;
    
    }
    .form{
      width: 90%;
      margin: 0 auto;
      flex-wrap: wrap;
    }
  
  }
  
  @media only screen and (max-width: 768px) {
    .content{
      width: 95%;
      margin: 0 auto;
      background-color:#F8F8F6;
      padding:1%;
    
    }
  }
  @media only screen and (max-width: 1000px) {
    .content{
      width: 80%;
      margin: 0 auto;
      background-color:#F8F8F6;
      padding:1%;
    }
    
  }
  
  